body{
    overflow-x: hidden;
}


.bg-contact{
    background-color: #1F8DE0;
}

.bg-inicial{
    background-color: #1B7ECB;
}

.btn-contact{
    width: 100%;
}

footer{
    border-top: 2px solid gray;
    background-color: #e3e0e4;
}

.contato{
    background-color: #1B7ECB;
    
}

.margin-end{
    margin-bottom: 20em;

}

.menu {
    float: right;
    margin-right: 40px;
}

.menu li {
    display: inline;
    float: left;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu a {
    text-decoration: none;
    padding: 14px 16px;
    color: #333;
}

.menu a:hover {
    color: #268fd0;
}
